<div style="height:100%;margin:0px;padding:0px;width:100%">
    <center>
        <table style="border-collapse:collapse;height:100%;margin:0px;padding:0px;width:100%" width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
                <tr>
                    <td style="height:100%;margin:0px;padding:0px;width:100%" valign="top" align="center">
                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody>
                                <tr>
                                    <td style="background:rgb(247,247,247) none no-repeat scroll center center/cover;border-top:0px none;border-bottom:0px none;padding-top:54px;padding-bottom:54px" valign="top" align="center">
                                        <table style="border-collapse:collapse;max-width:600px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td style="background:transparent none no-repeat scroll center center/cover;border-top:0px none;border-bottom:0px none;padding-top:0px;padding-bottom:0px" valign="top">
                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:0px" valign="top">
                                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding:0px;text-align:center" valign="top">
                                                                                        <img alt="" src="https://ci4.googleusercontent.com/proxy/6MrKoFR-v-qa95HDPZXQaDOIujCkdPd74pnPn12xxDLJHWzbpf-dZD-wJfe3WEtbJLXqaXjVzUAdY8D22oJFtte5steETGwmCZHenmWk9_pZZxpjyMJdEoU9dmb1JTCABo2v8DoIU2q4LiruPig_qmRhnBW3pp-KWPnNVq0=s0-d-e1-ft#https://gallery.mailchimp.com/155b108ae3006f8129d2729eb/images/4e1f5793-72c9-486b-b20d-5b398ea18194.png" style="max-width:960px;padding-bottom:0px;display:inline;vertical-align:bottom;border-width:0px;border-style:none;border-color:currentcolor;height:auto;outline:medium none;text-decoration:none" width="600" align="middle" tabindex="0">
                                                                                        <div class="a6S" dir="ltr" style="opacity: 0.01; left: 660.5px; top: 470px;">
                                                                                            <div id=":1xc" role="button" tabindex="0" aria-label="Download attachment " data-tooltip-class="a1V" data-tooltip="Download">
                                                                                            </div>
                                                                                        </div>

                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:rgb(255,255,255) none no-repeat scroll center center/cover;border-top:0px none;border-bottom:0px none;padding-top:27px;padding-bottom:54px" valign="top" align="center">

                                        <table style="border-collapse:collapse;max-width:600px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td style="background:transparent none no-repeat scroll center center/cover;border-top:0px none;border-bottom:0px none;padding-top:0px;padding-bottom:0px" valign="top">
                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-top:9px" valign="top">
                                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse" \ width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding:0px 18px 9px;color:rgb(128,128,128);font-family:Helvetica;font-size:16px;line-height:150%;text-align:left" valign="top">
                                                                                        <div style="text-align:center"><span style="color:rgb(0,0,0)"><b>${heading} Confirmation</b></span></div>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style="min-width:100%;border-collapse:collapse;table-layout:fixed" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="min-width:100%;padding:18px 18px 0px">
                                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                        <br>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-top:9px" valign="top">

                                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td style="padding:0px 18px 9px;color:rgb(128,128,128);font-family:Helvetica;font-size:16px;line-height:150%;text-align:left" valign="top">

                                                                                        Dear Sir,
                                                                                        <br>
                                                                                        <br> We thank you for ${innerHeading} <b>${serviceName}</b> service with Novowash. Your ${heading} has been confirmed and our team would be present ${bookDate} at your registered address. As a part of standard procedure, you would receive a pre-service call one hour before service. Please feel free to contact us on <a href="tel:011-45073279" value="011-45073279" target="_blank">011-45073279 </a> or write to us on <a href="mailto:info@novowash.com" target="_blank">info@novowash.com</a> for any query.
                                                                                        <br>
                                                                                        <br> Happy to serve!
                                                                                        <br>
                                                                                        <br> Warm Regards,
                                                                                        <br> Team Novowash.
                                                                                        <br> &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style="min-width:100%;border-collapse:collapse;table-layout:fixed" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="min-width:100%;padding:9px 18px 0px">
                                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                        <br>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:0px 18px 18px" valign="top" align="center">
                                                                        <table style="border-collapse:separate;border-radius:3px;background-color:rgb(112,173,71)" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="font-family:Helvetica;font-size:18px;padding:18px" valign="middle" align="center">
                                                                                        <a title="Book Services" href="http://www.novowash.com" style="font-weight:bold;letter-spacing:-0.5px;line-height:100%;text-align:center;text-decoration:none;color:rgb(255,255,255);display:block" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.novowash.com&amp;source=gmail&amp;ust=1501649268118000&amp;usg=AFQjCNGZ9XdiSn1FKe_XHdU6T_7ZIdqH3A">Book Services</a>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="background:rgb(51,51,51) none no-repeat scroll center center/cover;border-top:0px none;border-bottom:0px none;padding-top:45px;padding-bottom:63px" valign="top" align="center">

                                        <table style="border-collapse:collapse;max-width:600px" width="100%" cellspacing="0" cellpadding="0" border="0" align="center">
                                            <tbody>
                                                <tr>
                                                    <td style="background:transparent none no-repeat scroll center center/cover;border-top:0px none;border-bottom:0px none;padding-top:0px;padding-bottom:0px" valign="top">
                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding:9px" valign="top" align="center">
                                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td style="padding-left:9px;padding-right:9px" align="center">
                                                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                            <tbody>
                                                                                                <tr>
                                                                                                    <td style="padding-top:9px;padding-right:9px;padding-left:9px" valign="top" align="center">
                                                                                                        <table style="border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="center">
                                                                                                            <tbody>
                                                                                                                <tr>
                                                                                                                    <td valign="top" align="center">

                                                                                                                        <table style="display:inline;border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td style="padding-right:10px;padding-bottom:9px" valign="top">
                                                                                                                                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                            <tbody>
                                                                                                                                                <tr>
                                                                                                                                                    <td style="padding:5px 10px 5px 9px" valign="middle" align="left">
                                                                                                                                                        <table style="border-collapse:collapse" width="" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                                                                                            <tbody>
                                                                                                                                                                <tr>

                                                                                                                                                                    <td width="24" valign="middle" align="center">
                                                                                                                                                                        <a href="http://www.novowash.com" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.novowash.com&amp;source=gmail&amp;ust=1501649268118000&amp;usg=AFQjCNGZ9XdiSn1FKe_XHdU6T_7ZIdqH3A"><img src="https://ci5.googleusercontent.com/proxy/5y8PimBRwcJBDb92kgDtUSrz_5KShhUQXNrb_Q28YQUosmMtQUAzDq9N6tEwFsnVGQP4sLp24o68NhNmE3IMgZZ6NHCKjsRv-MAYKV-cZyd_4N9RZ82T8Z0xDMI-awQpxRK2_me4=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-link-48.png" style="display:block;border-width:0px;border-style:none;border-color:currentcolor;height:auto;outline:medium none;text-decoration:none" width="24" height="24" class="CToWUd"></a>
                                                                                                                                                                    </td>

                                                                                                                                                                </tr>
                                                                                                                                                            </tbody>
                                                                                                                                                        </table>
                                                                                                                                                    </td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>

                                                                                                                        <table style="display:inline;border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td style="padding-right:10px;padding-bottom:9px" valign="top">
                                                                                                                                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                            <tbody>
                                                                                                                                                <tr>
                                                                                                                                                    <td style="padding:5px 10px 5px 9px" valign="middle" align="left">
                                                                                                                                                        <table style="border-collapse:collapse" width="" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                                                                                            <tbody>
                                                                                                                                                                <tr>

                                                                                                                                                                    <td width="24" valign="middle" align="center">
                                                                                                                                                                        <a href="http://www.facebook.com/novowashservices" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.facebook.com/novowashservices&amp;source=gmail&amp;ust=1501649268118000&amp;usg=AFQjCNGdHIPQUuMYQ3vDKpZjPLXKzbmN-Q"><img src="https://ci4.googleusercontent.com/proxy/8j-DDnLusVH50YFUKm2i383mq41zzkTF0OmfaicBkjqbHcMUathKBT2sedC9niEZakoPEtRHargdZ4RbQjfIuq8GbtTu18d89xfHhaPIB2F5Lpp4cNaLZoDImoeXaRHVsy7_i-xdOFXoMg=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-facebook-48.png" style="display:block;border-width:0px;border-style:none;border-color:currentcolor;height:auto;outline:medium none;text-decoration:none" width="24" height="24" class="CToWUd"></a>
                                                                                                                                                                    </td>

                                                                                                                                                                </tr>
                                                                                                                                                            </tbody>
                                                                                                                                                        </table>
                                                                                                                                                    </td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>

                                                                                                                        <table style="display:inline;border-collapse:collapse" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                                                            <tbody>
                                                                                                                                <tr>
                                                                                                                                    <td style="padding-right:0px;padding-bottom:9px" valign="top">
                                                                                                                                        <table style="border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                                                                                            <tbody>
                                                                                                                                                <tr>
                                                                                                                                                    <td style="padding:5px 10px 5px 9px" valign="middle" align="left">
                                                                                                                                                        <table style="border-collapse:collapse" width="" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                                                                                                            <tbody>
                                                                                                                                                                <tr>

                                                                                                                                                                    <td width="24" valign="middle" align="center">
                                                                                                                                                                        <a href="http://www.twitter.com/novowash" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=http://www.twitter.com/novowash&amp;source=gmail&amp;ust=1501649268118000&amp;usg=AFQjCNEJ_dWDvKruQVuJZj6sC2JxjfovAg">
                                                                                                                                                                            <img src="https://ci6.googleusercontent.com/proxy/eaQG4rpaZxGwH-rEAXH75vzcChjc63kc1kaLs3r7RuNM_pKZzdAi--XXmC7Hshqi15T7UcrQb4-Jyy5uCUL2jnst3AVeYh9BucqKdnT3SWD1LP9xJT3lKcewZZ7CV5wwYQI6moZb1XGb=s0-d-e1-ft#https://cdn-images.mailchimp.com/icons/social-block-v2/outline-light-twitter-48.png" style="display:block;border-width:0px;border-style:none;border-color:currentcolor;height:auto;outline:medium none;text-decoration:none" width="24" height="24" class="CToWUd">
                                                                                                                                                                        </a>
                                                                                                                                                                    </td>

                                                                                                                                                                </tr>
                                                                                                                                                            </tbody>
                                                                                                                                                        </table>
                                                                                                                                                    </td>
                                                                                                                                                </tr>
                                                                                                                                            </tbody>
                                                                                                                                        </table>
                                                                                                                                    </td>
                                                                                                                                </tr>
                                                                                                                            </tbody>
                                                                                                                        </table>

                                                                                                                    </td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>
                                                                                                    </td>
                                                                                                </tr>
                                                                                            </tbody>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style="min-width:100%;border-collapse:collapse;table-layout:fixed" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="min-width:100%;padding:18px">
                                                                        <table style="min-width:100%;border-top:2px solid rgb(80,80,80);border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                                            <tbody>
                                                                                <tr>
                                                                                    <td>
                                                                                        <span></span>
                                                                                        <br>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                        <table style="min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td style="padding-top:9px" valign="top">

                                                                        <table style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" cellspacing="0" cellpadding="0" border="0" align="left">
                                                                            <tbody>
                                                                                <tr>

                                                                                    <td style="padding:0px 18px 9px;color:rgb(255,255,255);font-family:Helvetica;font-size:12px;line-height:150%;text-align:center" valign="top">

                                                                                        <i>Copyright © 2016-2017 Novoweb Ventures Private Limited (All rights reserved.)</i>
                                                                                        <br>
                                                                                        <br>
                                                                                        <b>Our mailing address is:</b>
                                                                                        <br>
                                                                                        <a href="mailto:info@novowash.com" target="_blank">info@novowash.com</a>
                                                                                        <br>
                                                                                        <br> Want to change how you receive these emails?
                                                                                        <br> You can <a style="color:rgb(255,255,255);font-weight:normal;text-decoration:underline">update your preferences</a> or <a style="color:rgb(255,255,255);font-weight:normal;text-decoration:underline">unsubscribe from this list</a>.
                                                                                        <br>
                                                                                        <br> &nbsp;
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>

                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </td>
                </tr>
            </tbody>
        </table>
    </center>
</div>